@{
	Layout = null;
}

@model MediaResource.Web.Models.ViewModels.NewsViewModel

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">
		@Model.News.Name
		@Html.HiddenFor(model => model.News.Id)
	</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<div id="newsPlayer">
					</div>
				</div>
			</div>
			<div class="row">
				@{
					int index = 0;
				}
				@foreach (string thubminalImage in Model.ThubminalImages)
				{
				    <div class="col-md-2">
				        <div class="img-xs-wrap">
				            <img src="@thubminalImage" />
                        </div>
				    </div>
					if (index == 4)
					{
						@:</div><br/><br/><div class="row">
					}
					++index;
				}
			</div>
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline" role="form">
						<label class="sr-only" for="hiddenNewsScore">评分：</label>
						<input type="hidden" id="hiddenNewsScore" value="0" />
						<div id="divNewsScore" class="form-group score">
							<input type="button" value="1" />
							<input type="button" value="2" />
							<input type="button" value="3" />
							<input type="button" value="4" />
							<input type="button" value="5" />
						</div>
						<button id="buttonNewsPostScore" type="button" class="btn btn-primary" title="每个用户只能评分一次" onclick="postNewsScore()">评分</button>
						<div class="form-group">
							当前平均分：<label id="lblNewsScore">@Model.News.Score</label>
							（<label id="lblNewsScoreCount">@Model.News.ScoreCount</label>次打分）
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<ul id="newsTab" class="nav nav-tabs">
					    <li class="active">
					        <a href="#newsDetailTab" data-toggle="tab">详细信息</a>
					    </li>
						<li>
							<a href="#newsCommentTab" data-toggle="tab">
								评论（
								<label id="lblNewsCommentCount"></label>
								）
							</a>
						</li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="newsDetailTab">
							<dl class="dl-horizontal">
								<dt>
                                    名　　称
								</dt>
								<dd>
									@Html.DisplayFor(model => model.News.Name)
								</dd>
								<dt>
                                    分　　类
								</dt>
								<dd>
									@Html.DisplayFor(model => model.News.BroadcastType)
								</dd>
								<dt>
									@Html.DisplayNameFor(model => model.News.StoryTime)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.News.StoryTime)
								</dd>
								<dt>
									@Html.DisplayNameFor(model => model.News.NewsSection)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.News.NewsSection)
								</dd>
								<dt>
                                    人　　物
								</dt>
								<dd>
									@Html.DisplayFor(model => model.News.Reporter)
								</dd>
								<dt>
                                    长　　度
								</dt>
								<dd>
									@Html.DisplayFor(model => model.News.Length)
								</dd>
								<dt>
									@Html.DisplayNameFor(model => model.News.Association)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.News.Association)
								</dd>
								<dt>
                                    描　　述
								</dt>
								<dd>
									@Html.DisplayFor(model => model.News.Release)
								</dd>
								<dt>
									@Html.DisplayNameFor(model => model.News.ClickCount)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.News.ClickCount)
								</dd>
								<dt>
									@Html.DisplayNameFor(model => model.News.DownloadCount)
								</dt>
								<dd>
									@Html.DisplayFor(model => model.News.DownloadCount)
								</dd>
							</dl>
						</div>
						<div class="tab-pane" id="newsCommentTab">
							<div class="row">
								<div class="col-md-12">
									<form class="form-horizontal" role="form">
										<div class="form-group">
											<div class="col-md-12">
												<textarea id="textNewsCommentContent" class="form-control" rows="5" placeholder="评论内容"></textarea>
											</div>
										</div>
										<div class="form-group">
											<img id="imgVerificationCode" alt="点击刷新" class="col-md-2" src='@Url.Action("Create", "VerificationCode")' onclick="refreshNewsVerificationCode()" />
											<div class="col-md-3">
												<input id="inputNewsVerificationCode" type="text" class="form-control" maxlength="5" placeholder="验证码" />
											</div>
											<div class="col-md-7">
												<button class="btn btn-primary" type="button" onclick="postNewsCommit()">发表评论</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<iframe id="iframeNewsCommentList" src="#" height="360"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src='@Url.Content("~/Scripts/jwplayer/jwplayer.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jwplayer/jwplayer.html5.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/common-const.js")'></script>
<script type="text/javascript">
    var _newsId;
    var _newsPlayer;

	$(function () {
		_newsId = $("#News_Id").val();

		var newsUrl = "@Model.FlvUrl";
	    _newsPlayer = jwplayer("newsPlayer").setup({
			file: newsUrl,
			width: "480px",
			height: "360px"
		});

		changeNewsScore();
		showNewsCommentList();
		showNewsCommentCount();
	});

    function changeNewsScore() {
        var buttons = document.getElementById("divNewsScore").getElementsByTagName("input");
		for (var i = 0; i < parseInt(document.getElementById("hiddenNewsScore").value) ; i++) {
			buttons[i].style.backgroundPosition = "right center";
		}

		for (var j = 0; j < buttons.length; j++) {
			buttons[j].onclick = function () {
				for (var m = 0; m < buttons.length; m++) {
					buttons[m].style.backgroundPosition = "right center";
				}
				for (var n = 0; n < this.value; n++) {
					buttons[n].style.backgroundPosition = "left center";
				}
				document.getElementById("hiddenNewsScore").value = this.value;
			}
		}
	}

    function postNewsScore() {
	    var score = $("#hiddenNewsScore").val();
		$.post(
			'@Url.Action("Create", "Score")',
			{
				ObjectType: ObjectType.News,
				ObjectId: _newsId,
				Value: score
			},
			function (result) {
				alert(result.message);
				if (result.success) {
					// 禁用评分按钮
					$("#buttonPostScore").attr("disabled", "disabled");

					// 刷新平均分和评分次数
					$("#lblNewsScore").text(result.Score);
					$("#lblNewsScoreCount").text(result.ScoreCount);
				}
			}
		);
	}

    function showNewsCommentList() {
		var commentListPageUrl = '@Url.Action("Index", "Comment", new { pageSize = 5 })' + "&objectType=" + ObjectType.News + "&objectId=" + _newsId;
	    $("#iframeNewsCommentList").attr("src", commentListPageUrl);
	}

    function showNewsCommentCount() {
		$.get(
			'@Url.Action("Count", "Comment")',
			{
				objectType: ObjectType.News,
				objectId: _newsId
			},
			function (result) {
			    $("#lblNewsCommentCount").text(result.count);
			}
		);
	}

    function refreshNewsVerificationCode() {
	    var img = $("#imgNewsVerificationCode");
		img.attr("src", img.attr("src") + "?");
	}

    function postNewsCommit() {
        var content = $("#textNewsCommentContent").val();
		if (content == "") {
			alert("评论内容不能为空！");
			return;
		}
		var verificationCode = $("#inputNewsVerificationCode").val();
		if (verificationCode == "") {
			alert("验证码不能为空！");
			return;
		}

		$.post(
			'@Url.Action("Verify", "VerificationCode")',
			{
			    VerificationCode: verificationCode
			},
			function (result) {
				if (!result.success) {
					alert("验证码错误！");
					refreshNewsVerificationCode();
					return;
				}

				$.post(
					'@Url.Action("Create", "Comment")',
					{
						ObjectType: ObjectType.News,
						ObjectId: _newsId,
						Content: content
					},
					function (result1) {
						if (result1.success) {
							alert(result1.message);

							// 清空表单
							$("#commentContent").val("");
							$("#verificationCode").val("");

							// 刷新验证码
							refreshNewsVerificationCode();

							// 刷新评论数量
							showNewsCommentCount();

							// 刷新评论列表
							showNewsCommentList();
						}
					}
				);
			}
		);
	}
</script>
