@model MediaResource.Web.Models.Node

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>专题——节点内容</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		@Scripts.Render("~/bundles/html5")
    <![endif]-->
</head>
<body>
    @if (Model != null && !String.IsNullOrEmpty(Model.Remark))
    {
        <blockquote>
            <p>@Model.Remark</p>
        </blockquote>
    }
    @Html.Action("PanelPartial", "TopicImage", new {ViewBag.TopicId, ViewBag.NodeId})
    @Html.Action("PanelPartial", "TopicVideo", new {ViewBag.TopicId, ViewBag.NodeId})
    @Html.Action("PanelPartial", "TopicText", new {ViewBag.TopicId, ViewBag.NodeId})
    @Html.Action("PanelPartial", "TopicNews", new {ViewBag.TopicId, ViewBag.NodeId})

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
</body>
</html>
