@{
	ViewBag.Title = "专栏";
}

@using MediaResource.Web.Helper
@using MediaResource.Web.Models
@using MediaResource.Web.Models.ViewModels
@using PagedList.Mvc;

@model PagedList.IPagedList<ImageViewModel>

<div class="row">
	<div class="col-md-3">
		@Html.Action("IndexPartial", "Group", new {actionUrl = "/UserPhoto/Group"})
	</div>
	<div class="col-md-9">
		<h4>
			照片——处室：
			@if (ViewBag.Group != null)
			{
				@ViewBag.Group.Name
			}
		</h4>
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-sm-3 thumbnail-sm">
				    <div class="thumbnail">
				        @if (item.ObjectType == ObjectType.UserPhoto)
                        {
                            <a title="查看" data-toggle="modal" href="#" onclick="showUserPhotoDetailModal(@item.Id)">
                                <div class="img-md-wrap">
                                    <img src="@item.FileUrl" />
                                </div>
                            </a>
				            <div class="caption">
				                <p class="title">
				                    @Html.TrimText(item.Name, 18)
				                </p>
						        <a href="@item.RawUrl" target="_blank" class="btn btn-default">下载</a>
				            </div>
                        }
				        @if (item.ObjectType == ObjectType.Photo)
                        {
                            <a title="查看" data-toggle="modal" href="#" onclick="showPhotoDetailModal(@item.Id)">
                                <div class="img-md-wrap">
                                    <img src="@item.FileUrl" />
                                </div>
                            </a>
                            <div class="caption">
                                <p class="title">
                                    @Html.TrimText(item.Name, 18)
                                </p>
                                <a href="@Url.Action("Download", "Photo", new {id = @item.Id})" target="_blank" class="btn btn-default">下载</a>
                            </div>
                        }
				    </div>
				</div>
			}
		</div>
		<div class="text-center">
			@Html.PagedListPager(Model, page => Url.Action("Group", new { id = ViewBag.GroupId, page }))
		</div>
	</div>
</div>

<div id="userPhotoDetailModal" class="modal fade">
	<div class="modal-dialog modal-dialog-lg">
		<div class="modal-content">
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="photoDetailModal" class="modal fade">
	<div class="modal-dialog modal-dialog-lg">
		<div class="modal-content">
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts
{
	<script type="text/javascript">
	    $(function () {
		    // 刷新模态对话框
		    $("#userPhotoDetailModal").on("hidden.bs.modal", function () {
			    $(this).removeData("bs.modal");
		    });
		    $("#photoDetailModal").on("hidden.bs.modal", function () {
		        $(this).removeData("bs.modal");
		    });
	    });

		function showUserPhotoDetailModal(id) {
			$("#userPhotoDetailModal").modal({
				show: true,
				remote: '@Url.Action("Detail", "UserPhoto")' + "/" + id
			});
		}

        function showPhotoDetailModal(id) {
            $("#photoDetailModal").modal({
                show: true,
                remote: '@Url.Action("Detail", "Photo")' + "/" + id
            });
        }
	</script>
}
