@using MediaResource.Web.Helper
@using MediaResource.Web.Models
@model Dictionary<string, List<Topic>>

@{
    ViewBag.Title = "重点专题";
}

<h2>重点专题</h2>
<hr />

@foreach (string offices in Model.Keys)
{
    <h4>
        @offices
        &gt;&gt;
    </h4>
    <div class="row">
        @foreach (Topic topic in Model[offices])
        {
            <div class="col-xs-6">
                <a href="javascript: redirectToDetail(@topic.Id)">
                    <img width="450" height="200" style="margin: 10px 0" alt="@topic.Name" src='@WebHelper.Instance.TopicImageRootUrl@topic.ListPhotoUrl.Replace("../../", "/")' />
                </a>
            </div>
        }
    </div>
}

@section scripts
{
    <script type="text/javascript">
        function redirectToDetail(topicId) {
            $.post(
                "@Url.Action("IsAuthorized")" + "/" + topicId,
                function (data) {
                    if (data.result === true) {
                        var url = '@Url.Action("Detail", "Topic")' + "/" + topicId;
                        location.href = url;
                    }
                    else {
                        alert("您没有权限查看此专题！");
                    }
                });
        }
    </script>
}