@{
    Layout = null;
}

@model MediaResource.Web.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "登录";
}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 媒体资源系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	<link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div class="row">
			<section id="loginForm">
				@using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { id = "theForm", @class = "form-horizontal", role = "form" }))
				{
					<div class="form-group">
						@Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
						<div class="col-md-9">
							@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
						<div class="col-md-9">
							@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
					    <div id="formLinks">
					        <a href="javascript:document.getElementById('theForm').submit();">登录</a>
					        <a data-toggle="modal" href='@Url.Action("Register")' data-target="#registerModal">
					            注册
					        </a>
					    </div>
					</div>
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				}
			</section>
		</div>
	</div>
	
	<div id="registerModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/jqueryval")
	<script type="text/javascript">
		$(function () {
			// 刷新模态对话框
			$("#registerModal").on("hidden.bs.modal", function () {
				$(this).removeData("bs.modal");
			});
		});
	</script>
</body>
</html>



