@{
	Layout = null;
}

@using MediaResource.Web.Helper
@model MediaResource.Web.Models.GraphicDesign

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">
		@Model.Name
		@Html.HiddenFor(model => model.Id)
	</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-12">
				    <div class="img-lg-wrap">
					    <img src="@WebHelper.Instance.RootUrl@Model.PreviewPath" />
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<form class="form-inline" role="form">
						<label class="sr-only" for="hiddenGraphicDesignScore">评分：</label>
						<input type="hidden" id="hiddenGraphicDesignScore" value="0" />
						<div id="divGraphicDesignScore" class="form-group score">
							<input type="button" value="1" />
							<input type="button" value="2" />
							<input type="button" value="3" />
							<input type="button" value="4" />
							<input type="button" value="5" />
						</div>
						<button id="buttonGraphicDesignPostScore" type="button" class="btn btn-primary" title="每个用户只能评分一次" onclick="postGraphicDesignScore()">评分</button>
						<div class="form-group">
							当前平均分：<label id="lblGraphicDesignScore">@Model.Score</label>
							（<label id="lblGraphicDesignScoreCount">@Model.ScoreCount</label>次打分）
                            <a href="@Url.Action("Download", new {id = @Model.Id})" target="_blank" class="btn btn-default">下载</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-12">
					<ul id="graphicDesignTab" class="nav nav-tabs">
					    <li class="active">
					        <a href="#graphicDesignDetailTab" data-toggle="tab">详细信息</a>
					    </li>
						<li>
							<a href="#graphicDesignCommentTab" data-toggle="tab">
								评论（
								<label id="lblGraphicDesignCommentCount"></label>
								）
							</a>
						</li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="graphicDesignDetailTab">
							<dl class="dl-horizontal">
								<dt>
									ID　　号
								</dt>
								<dd>
									@Html.DisplayFor(model => model.Id)
								</dd>
                                @if (!String.IsNullOrWhiteSpace(Model.Name))
                                {
								    <dt>
									    名　　称
								    </dt>
								    <dd>
									    @Html.DisplayFor(model => model.Name)
								    </dd>
                                }
                                @if (!String.IsNullOrWhiteSpace(Model.Description))
                                {
								    <dt>
									    描　　述
								    </dt>
								    <dd>
									    @Html.DisplayFor(model => model.Description)
								    </dd>
                                }
                                @if (!String.IsNullOrWhiteSpace(Model.Associate))
                                {
								    <dt>
									    @Html.DisplayNameFor(model => model.Associate)
								    </dt>
								    <dd>
									    @Html.DisplayFor(model => model.Associate)
								    </dd>
                                }
                                @if (Model.ClickCount != null)
                                {
								    <dt>
									    @Html.DisplayNameFor(model => model.ClickCount)
								    </dt>
								    <dd>
									    @Html.DisplayFor(model => model.ClickCount)
								    </dd>
                                }
                                @if (Model.DownloadCount != null)
                                {
								    <dt>
									    @Html.DisplayNameFor(model => model.DownloadCount)
								    </dt>
								    <dd>
									    @Html.DisplayFor(model => model.DownloadCount)
								    </dd>
                                }
							</dl>
						</div>
						<div class="tab-pane" id="graphicDesignCommentTab">
							<div class="row">
								<div class="col-xs-12">
									<form class="form-horizontal" role="form">
										<div class="form-group">
											<div class="col-xs-12">
												<textarea id="textGraphicDesignCommentContent" class="form-control" rows="5" placeholder="评论内容"></textarea>
											</div>
										</div>
										<div class="form-group">
											<img id="imgGraphicDesignVerificationCode" alt="点击刷新" class="col-xs-2" src='@Url.Action("Create", "VerificationCode")' onclick="refreshGraphicDesignVerificationCode()" />
											<div class="col-xs-3">
												<input id="inputGraphicDesignVerificationCode" type="text" class="form-control" maxlength="5" placeholder="验证码" />
											</div>
											<div class="col-xs-7">
												<button class="btn btn-primary" type="button" onclick="postGraphicDesignCommit()">发表评论</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<iframe id="iframeGraphicDesignCommentList" src="#" height="360"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src='@Url.Content("~/Scripts/common-const.js")'></script>
<script type="text/javascript">
	var _graphicDesignId;

	$(function () {
		_graphicDesignId = $("#Id").val();

		changeGraphicDesignScore();
		showGraphicDesignCommentList();
		showGraphicDesignCommentCount();
	});

	function changeGraphicDesignScore() {
		var buttons = document.getElementById("divGraphicDesignScore").getElementsByTagName("input");
		for (var i = 0; i < parseInt(document.getElementById("hiddenGraphicDesignScore").value) ; i++) {
			buttons[i].style.backgroundPosition = "right center";
		}

		for (var j = 0; j < buttons.length; j++) {
			buttons[j].onclick = function () {
				for (var m = 0; m < buttons.length; m++) {
					buttons[m].style.backgroundPosition = "right center";
				}
				for (var n = 0; n < this.value; n++) {
					buttons[n].style.backgroundPosition = "left center";
				}
				document.getElementById("hiddenGraphicDesignScore").value = this.value;
			}
		}
	}

	function postGraphicDesignScore() {
		var score = $("#hiddenGraphicDesignScore").val();
		$.post(
			'@Url.Action("Create", "Score")',
			{
				ObjectType: ObjectType.GraphicDesign,
				ObjectId: _graphicDesignId,
				Value: score
			},
			function (result) {
				alert(result.message);
				if (result.success) {
					// 禁用评分按钮
					$("#buttonGraphicDesignPostScore").attr("disabled", "disabled");

					// 刷新平均分和评分次数
					$("#lblGraphicDesignScore").text(result.Score);
					$("#lblGraphicDesignScoreCount").text(result.ScoreCount);
				}
			}
		);
	}

	function showGraphicDesignCommentList() {
		var commentListPageUrl = '@Url.Action("Index", "Comment", new { pageSize = 5 })' + "&objectType=" + ObjectType.GraphicDesign + "&objectId=" + _graphicDesignId;
		$("#iframeGraphicDesignCommentList").attr("src", commentListPageUrl);
	}

	function showGraphicDesignCommentCount() {
		$.get(
			'@Url.Action("Count", "Comment")',
			{
				objectType: ObjectType.GraphicDesign,
				objectId: _graphicDesignId
			},
			function (result) {
				$("#lblGraphicDesignCommentCount").text(result.count);
			}
		);
	}

	function refreshGraphicDesignVerificationCode() {
		var img = $("#imgGraphicDesignVerificationCode");
		img.attr("src", img.attr("src") + "?");
	}

	function postGraphicDesignCommit() {
		var content = $("#textGraphicDesignCommentContent").val();
		if (content == "") {
			alert("评论内容不能为空！");
			return;
		}
		var verificationCode = $("#inputGraphicDesignVerificationCode").val();
		if (verificationCode == "") {
			alert("验证码不能为空！");
			return;
		}

		$.post(
			'@Url.Action("Verify", "VerificationCode")',
			{
			    VerificationCode: verificationCode
			},
			function (result) {
				if (!result.success) {
					alert("验证码错误！");
					refreshGraphicDesignVerificationCode();
					return;
				}

				$.post(
					'@Url.Action("Create", "Comment")',
					{
						ObjectType: ObjectType.GraphicDesign,
						ObjectId: _graphicDesignId,
						Content: content
					},
					function (result1) {
						if (result1.success) {
							alert(result1.message);

							// 清空表单
							$("#textGraphicDesignCommentContent").val("");
							$("#inputGraphicDesignVerificationCode").val("");

							// 刷新验证码
							refreshGraphicDesignVerificationCode();

							// 刷新评论数量
							showGraphicDesignCommentCount();

							// 刷新评论列表
							showGraphicDesignCommentList();
						}
					}
				);
			}
		);
	}
</script>
